@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&display=swap');
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(318deg, rgba(114,196,254,1) 0%, rgba(165,81,255,1) 37%, rgba(53,97,254,1) 69%, rgba(114,196,254,1) 100%);
}

.contenedor {
	background: #362FD9;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	width: 480px;
	height: 520px;
	color: white;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

form {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.contenedor h1 {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}

.contenedor div {
	font-family: 'Nunito', sans-serif;
}

.contenedor .data-two input {
	width: 250px;
}

.contenedor .data-one input, .data-two input {
	outline: none;
	border: none;
	border-radius: 7px;
	background: #FFFFFF;
	height: 30px;
	padding: 0 0 0 0.5em
}

.contenedor #identification:valid {
	border: 2px solid green;
}

.contenedor #error-email {
	width: 300px;
	display: flex;
	align-items: center;
	gap: 3px;
	padding: 3px;
	margin: 0.5em 0 0 0;
	background: #FF7575;
	border-radius: 20px;
	font-size: 10px;
}

.contenedor #error-email img {
	width: 32px
} 

.contenedor .data-two, .data-three {
	display: flex;
	flex-direction: column;
}

.contenedor .data-one, .data-two, .data-three {
	padding: 0 0 0 2em
}

.contenedor .pay-type {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 150px;
	padding: 0 0 0 2em
}

.contenedor .pay-type #pay-list {
	outline: none;
	border: none;
	border-radius: 7px;
	background: #FFFFFF;
	height: 30px;
}

.contenedor #captcha {
	display: flex;
	justify-content: center;
	align-items: center
}

.contenedor .buttons {
	display: flex;
	justify-content: center;
	gap: 1em;
}

.contenedor .buttons #btn-send {
	border: none;
	border-radius: 5px;
	background: #00AC20;
	color: #FFFFFF;
	padding: 10px;
	font-family: 'Nunito', sans-serif;
}

.contenedor .buttons .btn-reset {
	border: none;
	border-radius: 5px;
	background: #FF4343;
	color: #FFFFFF;
	padding: 10px;
	font-family: 'Nunito', sans-serif;
}