@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&display=swap');
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(318deg, rgba(114,196,254,1) 0%, rgba(165,81,255,1) 37%, rgba(53,97,254,1) 69%, rgba(114,196,254,1) 100%);
}

.swal2-title {
  font-size: 2em !important;
  font-family: 'Nunito', sans-serif;
}

.sweet_text {
  font-family: 'Nunito', sans-serif !important;
}

.logo {
	margin: 0 0 0.5em 0
}

.logo img {
	width: 90px;
}

.contenedor {
	background: #362FD9;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	width: 480px;
	height: 570px;
	color: white;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

form {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.contenedor h1 {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 2em
}

.contenedor div {
	font-family: 'Nunito', sans-serif;
}

.contenedor .data-two input {
	width: 250px;
}

.contenedor .data-one input, .data-two input {
	outline: none;
	border: none;
	border-radius: 7px;
	background: #FFFFFF;
	height: 30px;
	padding: 0 0 0 0.5em
}

.contenedor #identification:valid {
	border: 2px solid green;
}

.contenedor #error-email {
	width: 300px;
	display: flex;
	align-items: center;
	gap: 3px;
	padding: 3px;
	margin: 0.5em 0 0 0;
	background: #FF7575;
	border-radius: 20px;
	font-size: 10px;
}

.contenedor #error-email img {
	width: 32px
} 

.contenedor .data-two, .data-three {
	display: flex;
	flex-direction: column;
}

.contenedor .data-one, .data-two, .data-three {
	padding: 0 0 0 2em
}

.contenedor .data-three #recibo {
	background: #FFFFFF;
	border-radius: 20px;
	width: 280px;
	outline: none;
	color: black
}

.contenedor .data-three #recibo::-webkit-file-upload-button {
	color: #FFFFFF;
	background: #21C2DA;
	padding: 10px;
	border: none;
	border-radius: 20px;
	outline: none
}

.contenedor .data-three #recibo::-webkit-file-upload-button:hover {
	background: #188B9C;
}

.contenedor .pay-type {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 150px;
	padding: 0 0 0 2em
}

.contenedor .pay-type #pay-list {
	outline: none;
	border: none;
	border-radius: 7px;
	background: #FFFFFF;
	height: 30px;
}

.contenedor #recibo {
	width: 280px
}

.contenedor #captcha {
	display: flex;
	justify-content: center;
	align-items: center
}

.contenedor .buttons {
	display: flex;
	justify-content: center;
	gap: 1em;
}

.contenedor .buttons #btn-send {
	border: none;
	border-radius: 5px;
	background: #00AC20;
	color: #FFFFFF;
	padding: 10px;
	font-family: 'Nunito', sans-serif;
}

.contenedor .buttons #btn-send:active {
	background: #00E62B;
	transform: scale(1.2);
}

.contenedor .buttons #btn-send:disabled {
	background: #6B6B6B;
}

.contenedor .buttons .btn-reset {
	border: none;
	border-radius: 5px;
	background: #FF4343;
	color: #FFFFFF;
	padding: 10px;
	font-family: 'Nunito', sans-serif;
}

.contenedor .buttons .btn-reset:active {
	background: #FF2424;
	transform: scale(1.2);
}

.contenedor .adboard {
	margin: 0.5em 0 0 0;
	text-align: center;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor .adboard span {
	display: block;
	white-space: nowrap;
	border-right: 4px solid;
	width: 37ch;
	animation: typing 4s steps(37) infinite, blink .5s infinite step-end alternate;
	overflow: hidden
}

@keyframes typing {
	from {width: 0;}
}

@keyframes blink {
	50% {border-color: transparent;}
}

@media (max-width: 667px) {
	.contenedor {
		width: 100%;
		border-radius: 0
	}
}